@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Spartan:wght@300;400;500&display=swap");
* {
    /* background-color: #FBFADA; */
 
  font-family: "Spartan", sans-serif;
}

.search-bus-container{
    padding:10px;
    background-color: white;
}


.header-main-container{
    padding:10px;
}

.width-300{
    width : 300px !important ;
}


.custom-button {
    background-color: #436850;
    color: #FBFADA;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 0px 2px 10px  #12372A; 
    border: none;
}

.custom-button:hover {
    background-color: #12372A;
}

.busItem{
    background-color: white;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.success{
    background-color: green;
}









